<section class="custom-banner" style="background-color: {{ section.settings.bg_color}}; color: {{ section.settings.text_color }};">
    <div class="banner-content">
        <h1>{{ section.settings.title_text }}</h1>
        <p>{{ section.settings.subtitle_text }}</p>
        <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_link }}</a>
    </div>
</section>    